<li class="dropdown">
    <a asp-controller="" asp-action="" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Admin" asp-action="CreateCategory">Create Categirues</a>
            <a asp-controller="Admin" asp-action="CreateProduct">Create Products</a>
        </li>
    </ul>
</li>