
<li>
    <a asp-controller="Product" asp-action="BestBuyProducts"> Best Buy Product</a>
    <a asp-controller="Product" asp-action="PreferredProducts"> Preferred Product</a>
    <a asp-controller="Product" asp-action="NewestProducts"> Newest Product</a>
</li>

<li class="divider"></li>
<li>
    <a asp-controller="Product" asp-action="Index">View all products</a>
</li>

